# ignore locals
/local/
/log/
/venv/
/docs/_build

# always-ignore extensions
*~

# Python / Byte-compiled / optimized / DLL
__pycache__/
*.py[cod]
*.so
.cache
*.pyc
*.pyo

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# OS or Editor files and folders
.DS_Store
Thumbs.db
.ipynb_checkpoints/
.directory
/.idea/

# always-ignore directories
/dist/
/build/
